@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VAFS</h1>
    <p>
          Online Users: @HubArtifact.OnlineUserCount
    </p>
</div>

@foreach (var message in Model.Messages)
{
    <div>@message</div>
    <br />
}
